.landingMenu {
  display: flex;
  flex-direction: column;
  width: 80vw;
  min-height: 50vh;
  margin: auto auto;
  border: 5px solid white;
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  justify-content: center;
}
button {
  margin: 3px;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.739)
}