.card {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 5%;
  background-color: white;
  color: black;
}

.card-wrapper{
  overflow: hidden;
}

.card-wrapper:last-child, .card-wrapper:hover{
  overflow: visible;
}